@model IEnumerable<Problem2.netCore.Models.Employee>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EmpId }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new {id=item.EmpId })
            </td>
        </tr>
}
    </tbody>
</table>
